# !!! NOT USED BECAUSE OF A BUG !!!
# -=====- BASIC SETUP -=====-
# Twitch Stream setup
TWITCH_STREAM_URL=rtmp://live.twitch.tv/app/
TWITCH_STREAM_KEY=Your_Twitch_Stream_Key

# -=====- ADVANCED SETUP -=====-
# Set width and height of output video
WIDTH=1920
HEIGHT=1080

# Set output framerate
FRAMERATE=30

# Set keyframe spacing (must be double the framerate)
KEYFRAME=60

# Set bitrate (Twitch recommends 3500000)
BITRATE=3500000